{% extends 'base.html' %}

{% block page %}
    <style>
        .ui.stretched.card {
            min-height: 100%;
        }

        .ui.stretched.card img {
            height: 25rem;
        }
    </style>
    <div class="ui container">
        <div class="ui centered grid">
            <div class="sixteen wide column">
                <h2 class="ui header centered">
                    Ebooks à venda
                </h2>
            </div>
        </div>
        <div class="ui stackable four column grid">
            {% for ebook in ebooks %}
                <div class="column">
                    <div class="ui stretched card">
                        <div class="image">
                            <img height="1px" src="{{ url_for('static', filename=ebook.cover_path) }}">
                        </div>
                        <div class="content">
                            <a class="header">{{ ebook.title }}</a>
                            <div class="meta">
                                <span class="authors">{{ ebook.authors }}</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <b>
                                R${{ ebook.price_cents // 100 }},00
                            </b>
                        </div>
                        <div class="ui button add-button" data-id="{{ ebook.id }}">
                            <i class="cart icon"></i>
                            Adicionar ao carrinho
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
        <div class="ui centered grid">
            <div class="sixteen wide column">
                <a class="ui fluid button primary" href="{{ url_for('controller.checkout') }}">
                    Comprar ebooks do carrinho
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="module">


        import {showToast} from "../static/js/utils.mjs";

        $('.add-button').click(function () {
            console.log("clicked")
            const ebookId = $(this).attr('data-id');
            const requestOptions = {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ebook_id: ebookId})
            };
            fetch('{{ url_for('controller.add_cart') }}', requestOptions)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showToast(data.message, 'success')
                    } else {
                        showToast(data.message, 'error')
                    }
                });
        })

    </script>

{% endblock %}