{% extends 'base.html' %}
{% block page %}
    <div class="ui centered grid">
        <div class="ten wide column">
            <h2 class="ui header centered">Checkout</h2>
            <div class="ui segment">
                <div class="ui dividing header">
                    Informações da compra
                </div>
                <b>Livros:</b>
                <ul style="margin-top: 0">
                    <li>livro1</li>
                    <li>livro2</li>
                    <li>livro3</li>
                </ul>
                <p><b>Preço total:</b> R$10,00</p>

            </div>
            <div class="ui segment">
                <div class="ui dividing header">
                    Informações de pagamento
                </div>
                <form method="POST" id="checkout-form">
                    <div class="ui form">
                        <div class="field">
                            <label>Forma de pagamento:</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="payment_method">
                                <i class="dropdown icon"></i>
                                <div class="default text">Forma de pagamento</div>
                                <div class="scrollhint menu">
                                    <div class="item" data-value="pix">Pix</div>
                                    <div class="item" data-value="bank_slip">Boleto</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>CPF:</label>
                            <input type="text" name="cpf" placeholder="CPF">
                        </div>
                    </div>
                </form>
            </div>
            <button class="ui green fluid button" id="checkout-button">
                Finalizar compra
            </button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $('.ui.dropdown').dropdown();
        $('#checkout-button').click(function () {
            $('#checkout-form').submit();
        })
    </script>
{% endblock %}